@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin buttonDesign($radius) {

    border-radius: $radius;

}

@mixin overlayDesign($top, $bottom, $width, $height, $padding, $borderbottomright, $bordertopleft) {
    top: $top;
    bottom: $bottom;
    width: $width;
    height: $height;
    padding: $padding;
    border-bottom-right-radius: $borderbottomright;
    border-top-left-radius: $bordertopleft;
}

@mixin overlayTitleDesign($fontsize, $margintop, $marginbottom) {
    font-size: $fontsize;
    margin-top: $margintop;
    margin-bottom: $marginbottom
}

@mixin buttonPrimaryEffect($bg-color, $customColor) {
    background-color: $bg-color;
    color: $customColor !important;
}

@mixin afterButtonEffect($radius) {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    border-radius: $radius;
}

/*digital solution mixin*/
@mixin videoSideDiv($transition, $animation-delay) {
    transition: $transition;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
}

@mixin animations($transition) {
    transition: $transition;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-delay: .3s;
    animation-fill-mode: backwards;
}

@mixin videoPointsDesign($bgColor) {
    background-color: $bgColor;
    width: 100%;
}
