/******primary Colors*****/
$primary-blue: #234E86;
$secondary-blue: #4682B4;
$primary-yellow: #E3E56A;
$primary-grey: #EEEEEE;
$pageRedirect-color: #EFF0FD;
$color-black: black;
$color-white: white;

/******Values*****/
$h1-default-size: calc(16px + (24 - 16) * (50vw - 400px) / (800 - 400));
$primary-title-size: 2.5rem;
$links-size: 1.1rem;
$landingTitle: 1.5em;
$footerTitle: 2.4rem;
