* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}


body {
    box-sizing: border-box;
    max-width: 1900px;
    min-width: 280px;
    margin: 0 auto;
}


.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.grey-background {
    background-color: $primary-grey;
}

.blue-background {
    background-color: $primary-blue;
}

.primary-blue-text {
    color: $primary-blue;
}

#topPadding {
    padding: 10% 0;
}
